.SingleAlbumContainer {
  display: block;
}

.returnToHome {
  background-color: #DD614A;
  padding: 6px 12px;
  border: 0;
  border-radius: 5px;
  color: #F6F4F4;
  margin: 10px 0px;
}

.returnToHome:hover {
  background-color: #f36951;
}

.SingleAlbumImage {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.singleAlbumData {
  color: #F6F4F4;
  text-align: left;
}

.commentSectionTitle {
  text-align: center;
  margin-top: 13vh;
}

.addCommentBtn {
  background-color: #DD614A;
  border: 0;
  padding: 3px 6px;
  border-radius: 5px;
  color: #F6F4F4;
  margin: 0px, 20px;
}

.addCommentBtn:hover {
  background-color: #f36951;
}
